/*
  The syntax within the styles.css file is also referred to as CSS - Cascading Style Sheets.
  CSS describes how HTML elements are to be displayed on the screen.
*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #e0e0e0;
}

#header {
  text-align: center;
}

.container {
  background-color: #ffffff;
  margin: 40px auto;
  max-width: 800px;
  padding: 38px 31px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 100%;
}

button {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 6px;
}

.output-div {
  background-color: lightgrey;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.divider {
  margin-top: 2em;
  margin-bottom: 2em;
}
